#notification-bar {
  background-color: rgb(198, 22, 51);
  padding: 1.25rem;
  color: #fff;
}
.information-section {
  flex: 50%;
}
.navigation.panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


#hamburger-section {
  display: none;
}

#search-section {
  display: inline-flex;
}
