#notification-bar {
  padding: 5px;
}
.information-section {
  flex: 50%;
}
.navigation.panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.icon-holder .icon-text{
  display: none;
}

#menu-part {
  display: none;
}

#hamburger-section{
  display: inline-flex;
}

#search-section{
  display: none;
}

#notification-bar {
  display: grid;
  grid-template-columns:  repeat(1, minmax(200px, 1fr));
}

#information-section, #timer {
  justify-content: center;
}