.notification-bar {
  background-color: #c61633;
  padding: 1.25rem;
  color: #fff;
}

.information-section {
  flex: 50%;
}

.hamburger-section {
  display: none;
}

.search-section {
  display: inline-flex;
}


.carousel__card--img img {
  width: 100%;
}
